async-lru==1.0.2
certifi==2021.10.8
charset-normalizer==2.0.12
idna==3.3
mutagen
pyaes==1.6.1
pycryptodome==3.10.1
Pyrogram
pyromod
PySocks==1.7.1
python-dotenv
requests
soupsieve==2.2.1
TgCrypto
urllib3
websockets
yt-dlp==2021.7.24
